


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar-default {
    color: white;
    background-color: #FFF;
    margin-left: 200px;
    max-height: 20px;
}

.text-justify {
    text-align: justify;
    font-size: small;
}


.msb {
    width: 235px;
    background-color: #12171e;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    min-height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #ddd;

    .navbar {
        border: none;
        margin-left: 0;
        background-color: #12171e;
    }

    .navbar-header {
        color: white;
        width: 100%;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 20px;
        background: #12171e;
        
    }

    .navbar-nav {
        .panel {
            border: 0 none;
            box-shadow: none;
            margin: 0;
            background: #12171e;
        }

        li {
            display: block;
            width: 100%;

            a {
                padding: 15px;
                color: white;

                .glyphicon,
                .fa {
                    margin-right: 8px;
                }
            }
        }
    }

    .nb {
        padding-top: 5px;
        padding-left: 10px;
        margin-bottom: 30px;
        overflow: hidden;

    }
}

ul.nv,
ul.ns {
    position: relative;
    padding: 0;
    list-style: none;
}

.nv {
    li {
        display: block;
        position: relative;

        &::before {
            clear: both;
            content: "";
            display: table;
        }

        a {
            color: white;
            padding: 10px 25px;
            display: block;
            vertical-align: middle;

            .ic {
                font-size: 16px;
                margin-right: 5px;
                font-weight: 300;
                display: inline-block;
            }
        }
    }

    .ns {
        li {
            a {
                padding: 10px 50px;
            }
        }

    }

}


.mcw {
    margin-left: 200px;
    position: relative;
    min-height: 100%;
    .cv {}
}


a,
a:focus,
a:hover {
    text-decoration: none;
}

.inbox {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
    }

    ul {
        li {
            list-style: none;

            a {
                display: block;
                padding: 10px 20px;
            }
        }
    }
}

.msb,
.mnb {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mcw {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body.msb-x {

    .mcw,
    .mnb {
        margin-left: 0;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .msb {
        z-index: 4;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}


li {
    font-size: large;
    padding: 4px;
}

.marca {
    color: white;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}



.text-justify {
    margin-bottom: 20px;

}

.card-img-top{
    border: 2px solid black;
    border-radius: 10px;    
}

.card-body{
    border: 1px solid black;
    border-radius: 4px;
}

.text-justify{
    border: 1px solid black;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.btn {
    border-radius: 20px;
}
